<!-- Bnner Section One -->
<section class="banner-section-one">
    <div class="swiper banner-swiper">
        <div class="swiper-wrapper">

            <!-- Slide Item -->
            <div class="slide-item swiper-slide">
                <div class="bg bg-image" style="background-image: url(images/download.png);"></div>
                <div class="auto-container">
                    <div class="content-outer">
                        <div class="content-box">
                            @*<span class="title animate-2">Welcome to our Medical Care Center</span>
                            <h2 class="animate-3">We take care our <br>patients health</h2>
                            <div class="text animate-4">I realized that becoming a doctor, I can only help a small community. <br>But by becoming a doctor, I can help my whole country. </div>
                            <div class="btn-box animate-5">
                                <a href="Login.html" class="theme-btn btn-style-one"><span class="btn-title">Log in</span></a>
                                
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Item -->
            <div class="slide-item swiper-slide">
                <div class="bg bg-image" style="background-image: url(images/As-SalamLogoc_s.png);"></div>
                <div class="auto-container">
                    <div class="content-outer">
                        <div class="content-box">
                            @*<span class="title animate-2">Welcome to our Medical Care Center</span>
                            <h2 class="animate-3">We take care our <br>patients health</h2>
                            <div class="text animate-4">I realized that becoming a doctor, I can only help a small community. <br>But by becoming a doctor, I can help my whole country. </div>
                            <div class="btn-box animate-5">
                                <a href="about-us.html" class="theme-btn btn-style-one"><span class="btn-title">About Us</span></a>
                                <a href="departments.html" class="theme-btn btn-style-two"><span class="btn-title">Our Services</span></a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="default-btn">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
<!-- End Bnner Section One -->