<!-- About Section -->
@model HomeModel
<section class="about-section">
    <div class="auto-container">
        <div class="row">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-lg-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">TIP OF THE WEEK</span>
                        <img src="~/Files/quotes/@Model.tod" alt="Description" onerror="this.onerror=null;this.src='Theme/images/ImageNotFound.png';" />
                    </div>

                </div>
            </div>

            <!-- Images Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-lg-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">CALENDER</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
