<!-- Bnner Section One -->
<section class="banner-section-one" >
    <div class="swiper banner-swiper">
        <div class="swiper-wrapper">

            <!-- Slide Item -->
            <div class="slide-item swiper-slide">
                <div class="bg bg-image" style="background-image: url(images/download.png);"></div>
                <div class="">
                    <div class="content-outer">
                        <div class="content-box">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Item -->
            <div class="slide-item swiper-slide">
                <div class="bg bg-image" style="background-image: url(images/As-SalamLogoc_s.png); "></div>
                <div class="">
                    <div class="content-outer">
                        <div class="content-box">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="default-btn">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>


