@model HomeModel
<!-- Team Section -->
<section class="team-section container">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">Our Staff</span>
            <h2 class="text-reveal-anim">Senior Managers</h2>
            <span class="divider"></span>
        </div>

        <div class="row">
            <!-- Team Block -->
            @foreach (var item in Model.teamList){
                <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <figure class="image"><img src="~/Files/manage/@item.ImgPath" alt=""
                                 onerror="this.onerror=null;this.src='Theme/images/ImageNotFound.png';" />
                        </figure>

                        <div class="info-box">
                            <h4 class="name"><a href="doctor-detail.html">@item.NameEn</a></h4>
                            <span class="designation">@item.PositionEn</span>
                        </div>
                    </div>
                </div>
            }
           

            


    </div>
</section>
<!-- End Team Section -->