@{
    ViewData["Title"] = "Home Page";
}

<!-- Bnner Section One -->
<section class="banner-section-one">
    <div class="swiper banner-swiper">
        <div class="swiper-wrapper">

            <!-- Slide Item -->
            <div class="slide-item swiper-slide">
                <div class="bg bg-image" style="background-image: url(Theme/images/main-slider/1.jpg);"></div>
                <div class="auto-container">
                    <div class="content-outer">
                        <div class="content-box">
                            <span class="title animate-2">Welcome to our Medical Care Center</span>
                            <h2 class="animate-3">We take care our <br>patients health</h2>
                            <div class="text animate-4">I realized that becoming a doctor, I can only help a small community. <br>But by becoming a doctor, I can help my whole country. </div>
                            <div class="btn-box animate-5">
                                <a href="about-us.html" class="theme-btn btn-style-one"><span class="btn-title">About Us</span></a>
                                <a href="departments.html" class="theme-btn btn-style-two"><span class="btn-title">Our Services</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Item -->
            <div class="slide-item swiper-slide">
                <div class="bg bg-image" style="background-image: url(Theme/images/main-slider/2.jpg);"></div>
                <div class="auto-container">
                    <div class="content-outer">
                        <div class="content-box">
                            <span class="title animate-2">Welcome to our Medical Care Center</span>
                            <h2 class="animate-3">We take care our <br>patients health</h2>
                            <div class="text animate-4">I realized that becoming a doctor, I can only help a small community. <br>But by becoming a doctor, I can help my whole country. </div>
                            <div class="btn-box animate-5">
                                <a href="about-us.html" class="theme-btn btn-style-one"><span class="btn-title">About Us</span></a>
                                <a href="departments.html" class="theme-btn btn-style-two"><span class="btn-title">Our Services</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="default-btn">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
<!-- End Bnner Section One -->

<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-lg-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">TIP OF THE WEEK</span>
                        <image id="tip-of-the-week"></image>
                    </div>
                    
                </div>
            </div>

            <!-- Images Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-lg-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">CALENDER</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">Our Staff</span>
            <h2 class="text-reveal-anim">Senior Management Team</h2>
            <span class="divider"></span>
        </div>

        <div class="row">
            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="Theme/images/resource/team-1.jpg" alt=""></figure>
                    
                    <div class="info-box">
                        <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="Theme/images/resource/team-2.jpg" alt=""></figure>
                    
                    <div class="info-box">
                        <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="Theme/images/resource/team-3.jpg" alt=""></figure>
                    
                    <div class="info-box">
                        <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="Theme/images/resource/team-4.jpg" alt=""></figure>
                    
                    <div class="info-box">
                        <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- End Team Section -->

<!-- News Section -->
<section class="news-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title text-center">
            <span class="title">Latest News</span>
            <h2 class="text-reveal-anim">Recent Articles and News</h2>
            <span class="divider"></span>
        </div>

        <div class="row">
            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-post-image.html"><img src="Theme/images/resource/news-1.jpg" alt=""></a></figure>
                        <a href="#" class="date">Sep 19, 2020</a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="blog-post-image.html">What is The Success rate<br> of a root canel?</a></h4>
                        <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-post-image.html"><img src="Theme/images/resource/news-2.jpg" alt=""></a></figure>
                        <a href="#" class="date">Sep 19, 2020</a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="blog-post-image.html">How to handle your kids’ <Br>mystery ailments?</a></h4>
                        <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                        
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-post-image.html"><img src="Theme/images/resource/news-3.jpg" alt=""></a></figure>
                        <a href="#" class="date">Sep 19, 2020</a>
                    </div>
                    <div class="lower-content">
                        <h4><a href="blog-post-image.html">How to help the cardiology <br>department</a></h4>
                        <div class="text">Nullam mauris vitae tortor sodales efficitur. Quisque orci ante. Proin amet turpis</div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End News Section -->
