<!-- About Section -->
@model HomeModel
<section class="about-section container">
    <div class="auto-container">
        <div class="row">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-lg-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title" style="text-align:center;"><b>TIP OF THE WEEK</b></span>
                        <img src="~/Files/quotes/@Model.tod" alt="Description" onerror="this.onerror=null;this.src='Theme/images/ImageNotFound.png';" style="content-align:center; "/>
                    </div>

                </div>
            </div>

            <!-- Images Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-lg-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title"style="text-align:center;"><b>CALENDER</b></span>
                        <img src="~/Theme/images/calender.png" alt="Description" onerror="this.onerror=null;this.src='Theme/images/ImageNotFound.png';" style="content-align:center;" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
