<!-- Top Features -->
    <div id="features" style="scroll-margin-top:200px" ></div>
    <section class="top-features container" >
        <div class="auto-container">
            <div class="row">
                <!-- Feature Block -->
                <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-doctor"></span>
                        <h4><a href="#">NEWS LETTER</a></h4>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-lifeline"></span>
                        <h4><a href="#">VIDEOS</a></h4>
                    </div>
                </div>

                <!-- Feature Block -->
                <div class="feature-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-charity"></span>
                        <h4><a href="#">HEARTECTION</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Section -->